<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/nbe.js"></script>
<h2 style="color:blue">@(ViewBag.SiteHeading==null?"NBexpress":ViewBag.SiteHeading)</h2>
@if(GlobalAppSettings.Settings.ShowLinks=="true"){
<p><a href="camsm.html">&#128247;&nbsp;See Cameras</a><br/><a href="http://www.bom.gov.au/places/nsw/narrabeen/forecast/detailed/">&#9730;&nbsp;See Forecast</a><br/><a href="https://theweatherchaser.com/radar/IDR713-sydney/2">&#128225;&nbsp;Long term radar tracking</a><br/><a href="https://www.youtube.com/watch?v=HhabgvIIXik">&#128247;&nbsp;Improve your technique!</a><br/><a href="https://www.environment.nsw.gov.au/aqms/aqitable.htm">&#127755;&nbsp;Air Quality</a><br/><!--<a href="https://1drv.ms/x/s!AnQ1SR7tQyZJiKR88B8DivdGEuIC0g">	&#128085;&nbsp;Order your Kit (Closed)</a>products/IDR713.loop.shtml">--></p>
}
<!--<span style="color:red;font-size:1.1em;background:yellow">SPECIAL EVENT: 2nd Annual Pa's ride <a href="pa.html">click here</a></span>-->
<form id="postForm" class="form-group">
    <div class="form-group">
        <label for="usr">Your Name:</label>
        @if(GlobalAppSettings.Settings.Hardcodednames=="true"){
            <input type="text" class="form-control" id="usr" required value="@(ViewBag.Person.PersonName)" disabled></input><input id="token" type="hidden" value="@ViewBag.Person.RowKey"/>
        }
        else
        {
            <input type="text" class="form-control" id="usr" required></input>
        }
    </div>
    <div class="form-group">
        <label for="comment">Write something here:</label>
        <textarea class="form-control" rows="3" id="comment" required></textarea>
    </div>
    <div class="container">
        <div class="row">
            <span class="col-sm">
                <button type="button" id="btnPost" class="btn btn-danger">Post message</button>
            </span>
            <span class="col-sm">
                <button type="button" id="btnRefresh" class="btn btn-warning">Refresh messages</button>
            </span>
        </div>
    </div>
  
    <span id="message"></span>
</form>


<hr />
<div id="postTemplate" class="panel panel-primary">
    <div class="panel-heading" id="person"></div>
    <div class="panel-body" id="message"></div>
</div>
<div id="posts" class="panel-group"></div>